<!DOCTYPE html>
<html lang="en">
<head>
  <meta property="og:title" content="waitLess"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://waitlessprinceton.herokuapp.com/"/>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="/static/hello/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/static/hello/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/static/hello/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/static/hello/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/hello/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/static/hello/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/hello/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/hello/favicon-16.png">
	<link rel="apple-touch-icon" href="/static/hello/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/hello/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/hello/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/hello/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/hello/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/hello/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/hello/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/hello/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/hello/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/static/hello/favicon-144.png">
	<meta name="msapplication-config" content="/static/hello/browserconfig.xml">

</head>
<body>
  </body>
</html>

