<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  </head>
  <div id="mapid"></div>
  <style>
    #mapid { 
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
    }
  </style>
  <center>
    <script>
      var mymap = L.map('mapid').setView([40.3463,-74.6593], 16.8);
      var buildingData = {"type":"FeatureCollection","features":[{"type":"Feature","id":"01","properties":{"name":"Frist","density":94.65},"geometry":{"type":"Polygon","coordinates":[[[-74.654951,40.347191],[-74.655758,40.346823],[-74.654569,40.346643,],[-74.655391,40.346325]]]}}]};
      L.tileLayer('https://api.mapbox.com/styles/v1/waitlessprinceton/cj0y6ky2j00fy2rqrxtaawv0m/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoid2FpdGxlc3NwcmluY2V0b24iLCJhIjoiY2oweTF2ZG5rMDFqZjMzbzJnbWJ1MGxmcCJ9.M-_AnWBdd7urxxR2Ks-iUA', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 19,
        minZoom: 15,
      }).addTo(mymap);
      L.geoJson(buildingData).addTo(mymap);
    </script>
  </center>
</html>
